<div class="my-3 mx-5 text-center" role="alert">
  <button type="button" class="close alert alert-danger" data-dismiss="alert" aria-label="Close" id="btn-error">
    <span aria-hidden="true">&times;</span>
    The country could not be found, make sure you typed it correctly.
  </button>
</div>

<script src="/javascript/error.js"></script>
