<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Covid-19</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {{#filter.global}}
          <a class="nav-link" href="/deaths/filter/global">Deaths</a>
          <a class="nav-link" href="/cases/filter/global">Cases</a>
          <a class="nav-link" href="/vaccinations/filter/global">Vaccination</a>
          <a class="nav-link" href="/tests/filter/global">Tests</a>
        {{/filter.global}}

        {{#filter.byCountry}}
          <a class="nav-link" href="/deaths/filter/byCountry">Deaths</a>
          <a class="nav-link" href="/cases/filter/byCountry">Cases</a>
          <a class="nav-link" href="/vaccinations/filter/byCountry">Vaccination</a>
          <a class="nav-link" href="/tests/filter/byCountry">Tests</a>
        {{/filter.byCountry}}
      </div>

      <div class="ms-auto">
        <div class="navbar-nav">
          <a class="nav-link mx-2" href="/{{filter.label}}/filter/global">Global</a>
          <a class="nav-link mx-2" href="/{{filter.label}}/filter/byCountry"
            >By country</a
          >

          <form class="d-flex" role="search" action="/{{filter.label}}/search/" method="get">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search country"
              aria-label="Search"
              name="country"
            />
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>
