<div class="mb-5">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid mx-2">
      <a class="navbar-brand" href="/">Covid-19</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="ms-auto">
          <div class="navbar-nav">
            <div class="mx-1">
              {{#filter.global}}
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ filter.label }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <p class="dropdown-item" href="/">
                      Choose which data you want to plot:
                    </p>
                  </li>
                  <div class="dropdown-divider"></div>
                  <li>
                    <a class="dropdown-item" href="/deaths/global">Deaths</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/cases/global">Cases</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vaccinations/global"
                      >Vaccination</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="/tests/global">Tests</a>
                  </li>
                </ul>
              </div>
              {{/filter.global}}

              {{#filter.byCountry}}
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ filter.label }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <p class="dropdown-item" href="/">
                      Choose which data you want to plot:
                    </p>
                  </li>
                  <div class="dropdown-divider"></div>
                  <li>
                    <a class="dropdown-item" href="/deaths/bycountry">Deaths</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/cases/bycountry">Cases</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vaccinations/bycountry"
                      >Vaccination</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="/tests/bycountry">Tests</a>
                  </li>
                </ul>
              </div>
              {{/filter.byCountry}}

              {{#filter.byContinent}}
              <div class="dropdown">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ filter.label }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li>
                    <p class="dropdown-item" href="/">
                      Choose which data you want to plot:
                    </p>
                  </li>
                  <div class="dropdown-divider"></div>
                  <li>
                    <a class="dropdown-item" href="/deaths/bycontinent"
                      >Deaths</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="/cases/byContinent">Cases</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vaccinations/byContinent"
                      >Vaccination</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="/tests/byContinent">Tests</a>
                  </li>
                </ul>
              </div>
              {{/filter.byContinent}}
            </div>

            <div class="dropdown mx-2">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {{#filter.global}}
                Global
                {{/filter.global}}
                {{#filter.byCountry}}
                By country
                {{/filter.byCountry}}
                {{#filter.byContinent}}
                By continent
                {{/filter.byContinent}}
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <p class="dropdown-item" href="/">
                    Choose how you want to filter it:
                  </p>
                </li>
                <div class="dropdown-divider"></div>
                <li>
                  <a class="dropdown-item" href="/{{ filter.label }}/global"
                    >Global</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/{{ filter.label }}/byCountry"
                    >By country</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="/{{ filter.label }}/byContinent"
                    >By continent</a
                  >
                </li>
              </ul>
            </div>

            <form
              class="d-flex"
              role="search"
              action="/{{ filter.label }}/query/search/"
              method="get"
            >
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search country"
                aria-label="Search"
                name="country"
              />
              <button class="btn btn-outline-light" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>
