<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cases page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{> ./partials/navbar}}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>

    {{#filter.error}}
    {{> ./partials/flash}}
    {{/filter.error}}

    <div class="card mx-3 my-3">
      <h2 class="card-title pt-4 ps-3">Cumulative cases line chart</h2>

      <hr />

      <p class="card-body">
        Reported deaths are the number of deaths officially reported as due to
        COVID-19. Total deaths are the estimated number of deaths attributable
        to COVID-19, including unreported deaths.
      </p>

      <div class="card mx-3 bg-secondary py-3 text-light text-center fs-5 mb-3">
        {{#filter.byCountry}}
        {{ totalCases }} reported COVID-19 deaths by country
        {{/filter.byCountry}}

        {{#filter.global}}
        {{ totalCases }} global reported COVID-19 deaths
        {{/filter.global}}
      </div>

      {{#filter.byCountry}}
      <canvas
        id="casesChart1"
        style="height: 100px; width: 300px"
        class="mx-5"
      ></canvas>
      {{/filter.byCountry}}

      {{#filter.global}}
      <canvas
        id="casesChart2"
        style="height: 100px; width: 300px"
        class="mx-5"
      ></canvas>
      {{/filter.global}}
    </div>

    <div class="card mx-3 my-5">
      <h2 class="card-title pt-4 ps-3">Daily Deaths line chart</h2>

      <hr />

      <p class="card-body">
        Daily deaths is the best indicator of the progression of the pandemic,
        although there is generally a 17-21 day lag between infection and
        deaths.
      </p>

      {{#filter.byCountry}}
      <canvas
        id="casesChart3"
        style="height: 100px; width: 300px"
        class="mx-5"
      ></canvas>
      {{/filter.byCountry}}

      {{#filter.global}}
      <canvas
        id="casesChart4"
        style="height: 100px; width: 300px"
        class="mx-5"
      ></canvas>
      {{/filter.global}}
    </div>

    {{#filter.byCountry}}
    <div class="card mx-3 my-5">
      <h2 class="card-title pt-4 ps-3">Total Deaths Bar chart</h2>

      <hr />

      <p class="card-body">
        Daily deaths is the best indicator of the progression of the pandemic,
        although there is generally a 17-21 day lag between infection and
        deaths.
      </p>

      <canvas
        id="casesChart5"
        style="height: 100px; width: 300px"
        class="mx-5"
      ></canvas>
    </div>

    <div class="card mx-3 my-5">
      <h2 class="card-title pt-4 ps-3">Total Deaths Bar chart</h2>

      <hr />

      <p class="card-body">
        Daily deaths is the best indicator of the progression of the pandemic,
        although there is generally a 17-21 day lag between infection and
        deaths.
      </p>

      <canvas
        id="casesChart6"
        style="height: 100px; width: 300px"
        class="mx-5"
      ></canvas>
    </div>

    <div class="card mx-3 my-5">
      <h2 class="card-title pt-4 ps-3">Total Deaths Bar chart</h2>

      <hr />

      <p class="card-body">
        Daily deaths is the best indicator of the progression of the pandemic,
        although there is generally a 17-21 day lag between infection and
        deaths.
      </p>

      <div class="container">
        <div
        id="mapChart"
      ></div>
      </div>
      
    </div>

    {{/filter.byCountry}}

    <script src="/javascript/chart/setup.js"></script>
    <script src="/javascript/chart/chart.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    {{> ./partials/footer}}
  </body>
</html>
