<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {{> ./partials/navbar}}

    <img
      src="https://images.unsplash.com/photo-1523961131990-5ea7c61b2107?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
      alt=""
      srcset=""
      style="height: 300px; width: 100%; object-fit: cover"
    />

    <div class="container text-center text-light" style="margin-top: -220px">
      <h1>Welcome to the COVID-19 Data Hub</h1>
      <p>
        Data-informed decision making is critical in a world transformed by the
        coronavirus pandemic. We’re here to help. Bookmark this page and stay up
        to date with essential data resources and actionable information, from
        daily dashboards to real-world solutions.
      </p>
    </div>

    <div class="container" style="margin-top: 150px">
      <h3 class="text-center" style="padding-bottom: 15px">
        Our data visualization
      </h3>
      <hr />

      <div class="pb-4">
        <div class="row" style="padding-top: 10px">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Cumulative Deaths</h5>
                  <p class="card-text">
                    Reported deaths are the number of deaths officially reported as
                    due to COVID-19.
                  </p>
                  <a href="/deaths/filter/global" class="btn btn-primary"
                    >See data</a
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Daily Deaths</h5>
                  <p class="card-text">
                    Daily deaths is the best indicator of the progression of the
                    pandemic, including infection and deaths.
                  </p>
                  <a href="/deaths/filter/global" class="btn btn-primary"
                    >See data</a
                  >
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="pb-4">
        <div class="row" style="padding-top: 10px">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Cumulative Deaths</h5>
                  <p class="card-text">
                    Reported deaths are the number of deaths officially reported as
                    due to COVID-19.
                  </p>
                  <a href="/deaths/filter/global" class="btn btn-primary"
                    >See data</a
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Daily Deaths</h5>
                  <p class="card-text">
                    Daily deaths is the best indicator of the progression of the
                    pandemic, including infection and deaths.
                  </p>
                  <a href="/deaths/filter/global" class="btn btn-primary"
                    >See data</a
                  >
                </div>
              </div>
            </div>
          </div>
      </div>

      <div class="pb-4">
        <div class="row" style="padding-top: 10px">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Cumulative Deaths</h5>
                  <p class="card-text">
                    Reported deaths are the number of deaths officially reported as
                    due to COVID-19.
                  </p>
                  <a href="/deaths/filter/global" class="btn btn-primary"
                    >See data</a
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Daily Deaths</h5>
                  <p class="card-text">
                    Daily deaths is the best indicator of the progression of the
                    pandemic, including infection and deaths.
                  </p>
                  <a href="/deaths/filter/global" class="btn btn-primary"
                    >See data</a
                  >
                </div>
              </div>
            </div>
          </div>
      </div>

      
      <div class="pb-4">
        <div class="row" style="padding-top: 10px">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Cumulative Deaths</h5>
                  <p class="card-text">
                    Reported deaths are the number of deaths officially reported as
                    due to COVID-19.
                  </p>
                  <a href="/deaths/filter/global" class="btn btn-primary"
                    >See data</a
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Daily Deaths</h5>
                  <p class="card-text">
                    Daily deaths is the best indicator of the progression of the
                    pandemic, including infection and deaths.
                  </p>
                  <a href="/deaths/filter/global" class="btn btn-primary"
                    >See data</a
                  >
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>

    <div style="margin-bottom:0%;  padding-top: 30px;">
      {{> ./partials/footer}}
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
