<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ filter.label }} page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    {{> ./partials/navbar}}

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>

    {{#filter.error}}
    {{> ./partials/flash}}
    {{/filter.error}}

    {{#filter.global}}

    <div class="card mx-3 my-3">
      <h2 class="card-title pt-4 ps-3">
        Cumulative {{ filter.label }} line chart
      </h2>

      <hr />

      <p class="card-body">
        Reported {{ filter.label }} are the number of
        {{ filter.label }} officially reported as due to COVID-19. Total
        {{ filter.label }} are the estimated number of
        {{ filter.label }} attributable to COVID-19, including unreported
        {{ filter.label }}.
      </p>

      <div class="card mx-3 bg-secondary py-3 text-light text-center fs-5 mb-3">
        {{ total }} reported COVID-19 {{ filter.label }} by country
      </div>

      <canvas id="chart1" style="width: 300px" class="mx-5"></canvas>
    </div>

    <div class="card mx-3 my-3">
      <h2 class="card-title pt-4 ps-3">
        Cumulative {{ filter.label }} line chart
      </h2>

      <hr />

      <p class="card-body">
        Reported {{ filter.label }} are the number of
        {{ filter.label }} officially reported as due to COVID-19. Total
        {{ filter.label }} are the estimated number of
        {{ filter.label }} attributable to COVID-19, including unreported
        {{ filter.label }}.
      </p>

      <canvas id="chart2" style="width: 300px" class="mx-5"></canvas>
    </div>

    {{/filter.global}}

    {{#filter.byCountry}}

    <div class="card mx-3 my-3">
      <h2 class="card-title pt-4 ps-3">
        Cumulative {{ filter.label }} line chart
      </h2>

      <hr />

      <p class="card-body">
        Reported {{ filter.label }} are the number of
        {{ filter.label }} officially reported as due to COVID-19. Total
        {{ filter.label }} are the estimated number of
        {{ filter.label }} attributable to COVID-19, including unreported
        {{ filter.label }}.
      </p>

      <div class="card mx-3 bg-secondary py-3 text-light text-center fs-5 mb-3">
        {{ total }} reported COVID-19 {{ filter.label }} by country
      </div>

      <canvas id="chart3" style="width: 300px" class="mx-5"></canvas>
    </div>

    <div class="card mx-3 my-5">
      <h2 class="card-title pt-4 ps-3">
        Cumulative {{ filter.label }} line chart
      </h2>

      <hr />

      <p class="card-body">
        Reported {{ filter.label }} are the number of
        {{ filter.label }} officially reported as due to COVID-19. Total
        {{ filter.label }} are the estimated number of
        {{ filter.label }} attributable to COVID-19, including unreported
        {{ filter.label }}.
      </p>

      <canvas id="chart4" style="width: 300px" class="mx-5"></canvas>
    </div>

    <div class="card mx-3 my-5">
      <h2 class="card-title pt-4 ps-3">Total {{ filter.label }} Bar chart</h2>

      <hr />

      <p class="card-body">
        Daily {{ filter.label }} is the best indicator of the progression of the
        pandemic, although there is generally a 17-21 day lag between infection
        and {{ filter.label }}.
      </p>

      <canvas id="chart5" style="width: 300px" class="mx-5"></canvas>
    </div>

    <div class="card mx-3 my-5">
      <h2 class="card-title pt-4 ps-3">Total {{ filter.label }} Bar chart</h2>

      <hr />

      <p class="card-body">
        Daily {{ filter.label }} is the best indicator of the progression of the
        pandemic, although there is generally a 17-21 day lag between infection
        and {{ filter.label }}.
      </p>

      <canvas id="chart6" style="width: 300px" class="mx-5"></canvas>
    </div>

    <div class="card mx-3 my-5">
      <h2 class="card-title pt-4 ps-3">Total {{ filter.label }} Bar chart</h2>

      <hr />

      <p class="card-body">
        Daily {{ filter.label }} is the best indicator of the progression of the
        pandemic, although there is generally a 17-21 day lag between infection
        and {{ filter.label }}.
      </p>

      <div id="mapChart"></div>
    </div>

    {{/filter.byCountry}}

    {{#filter.byContinent}}

    <div class="card mx-3 my-3">
      <h2 class="card-title pt-4 ps-3">
        Cumulative {{ filter.label }} line chart
      </h2>

      <hr />

      <p class="card-body">
        Reported {{ filter.label }} are the number of
        {{ filter.label }} officially reported as due to COVID-19. Total
        {{ filter.label }} are the estimated number of
        {{ filter.label }} attributable to COVID-19, including unreported
        {{ filter.label }}.
      </p>

      <div class="card mx-3 bg-secondary py-3 text-light text-center fs-5 mb-3">
        {{ total }} reported COVID-19 {{ filter.label }} by country
      </div>

      <canvas id="chart7" style="width: 300px" class="mx-5"></canvas>
    </div>

    <div class="card mx-3 my-3">
      <h2 class="card-title pt-4 ps-3">
        Cumulative {{ filter.label }} line chart
      </h2>

      <hr />

      <p class="card-body">
        Reported {{ filter.label }} are the number of
        {{ filter.label }} officially reported as due to COVID-19. Total
        {{ filter.label }} are the estimated number of
        {{ filter.label }} attributable to COVID-19, including unreported
        {{ filter.label }}.
      </p>

      <canvas id="chart8" style="width: 300px" class="mx-5"></canvas>
    </div>

    <div class="card mx-3 my-3">
      <h2 class="card-title pt-4 ps-3">
        Cumulative {{ filter.label }} line chart
      </h2>

      <hr />

      <p class="card-body">
        Reported {{ filter.label }} are the number of
        {{ filter.label }} officially reported as due to COVID-19. Total
        {{ filter.label }} are the estimated number of
        {{ filter.label }} attributable to COVID-19, including unreported
        {{ filter.label }}.
      </p>

      <div class="card mx-3 bg-secondary py-3 text-light text-center fs-5 mb-3">
        {{ totalDeaths }} reported COVID-19 {{ filter.label }} by country
      </div>

      <canvas id="chart9" style="width: 300px" class="mx-5"></canvas>
    </div>

    <div class="card mx-3 my-3">
      <h2 class="card-title pt-4 ps-3">
        Cumulative {{ filter.label }} line chart
      </h2>

      <hr />

      <p class="card-body">
        Reported {{ filter.label }} are the number of
        {{ filter.label }} officially reported as due to COVID-19. Total
        {{ filter.label }} are the estimated number of
        {{ filter.label }} attributable to COVID-19, including unreported
        {{ filter.label }}.
      </p>

      <canvas id="chart10" style="width: 300px" class="mx-5"></canvas>
    </div>
    {{/filter.byContinent}}

    <script src="/javascript/chart/setup.js"></script>
    <script src="/javascript/chart/chart.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    {{> ./partials/footer}}
  </body>
</html>
